@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
  background-color: #ffffff;
  font-family: 'Noto Sans KR', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
}

body::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: gray;
}
body::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
